# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable playground': 'playground:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'playground'
      'submenu': [
        { 'label': 'Toggle', 'command': 'playground:toggle' }
      ]
    ]
  }
]
